.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.panel__container {
  background: rgb(27, 20, 30);
  padding: 10px;
  width: 100%;
  margin: auto;
  max-width: 25em;
  border-radius: 30px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 15px;
  text-align: center;
}

span {
  font-size: 12px;
}

.form__item {
  margin: auto;
  padding: 20px;
  width: 340px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 20px;
}

.filter__item {
  margin: 10px 5px;
  padding: 5px 5px;
  width: 98%;
  border: 1px solid #bbb;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input__item {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;

  &:focus {
    border-color: cornflowerblue;
  }
}
.button__submit {
  padding: 10px 20px;
  width: auto;
  background: black;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.contact__list {
  list-style: none;

  .contact__item {
    font-size: 14px;
    font-style: normal;
  }
}
